@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,900;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  background-image: url("./img/cold-bg.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  transition: 0.4 ease;
  text-align: center;
  padding: 0 20px 60px;
}

.page.warm {
  background-image: url("./img/warm-bg.jpg");
}

.search-area {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}

.search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.search-btn {
  position: absolute;
  background-color: transparent;
  right: 0;
  top: 0;
  border: none;
  padding: 15px 25px;
}

.search-btn:hover {
  cursor: pointer;
}

.weather-info {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: inline-block;
  margin: 140px auto 0;
  padding: 15px 25px;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.temp {
  position: relative;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

.weather {
  font-style: italic;
  font-size: 22px;
}

.humidity,
.wind {
  font-size: 18px;
}

.history {
  margin-top: 10px;
}

.historyTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.historyValue {
  font-size: 14px;
  margin: 2px 0;
  text-transform: capitalize;
}

.history:hover,
.historyValue:hover {
  cursor: pointer;
}

.active {
  transform: rotate(180deg);
}

@media only screen and (min-width: 500px) {
  .page {
    background-image: url("./img/cold-bg-full.jpg");
  }

  .page.warm {
    background-image: url("./img/warm-bg-full.jpg");
  }
}